:root {
  --navy: #174759;
  --orange: #e36f1e;
  --tan: #fadcc7;
  --blue: #d9f3fb;
  --white: #fff;

  --primary-font: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
