<div class="border-1 border-teal-darkest bg-teal-lightest">
  <div class="flex justify-between items-center p-3 border-b-1 border-teal-darkest bg-teal-darkest text-white font-bold text-2xl leading-tight">
    {{ title }}
  </div>

  <div class="flex items-center px-3 py-2 small-caps">
    {% if primary_pictogram %}
      <span class="mr-2" data-pictogram="{{ primary_pictogram }}"></span>
    {% endif %}

    <span>{{ primary_text }}</span>
  </div>

  {% if image_src %}
    <img class="block w-full object-cover border-t-1 border-teal-darkest" src="{{ image_src }}" height="320" alt="">
  {% endif %}
</div>
