<nav>
  <ul class="flex flex-wrap -m-2">
    {% for badge in badges %}
      <li class="w-full md:flex-1 m-2">
        {% set badge_events_text = badge.events|length ~ " event" %}
        {% if badge.events|length != 1 %}
          {% set badge_events_text = badge_events_text ~ "s" %}
        {% endif %}

        {% include "partials/card-badge.twig" with {
          title: badge.title,
          link: badge.link,
          primary_pictogram: "}",
          primary_text: badge_events_text,
          content: badge.get_field("badge_description"),
          image_src: TimberImage(badge.get_field("image")).src("large")
        } only %}
      </li>
    {% endfor %}
  </ul>
</nav>
