<nav>
  <ul class="flex flex-wrap -m-2">
    {% for tool in tools %}
      <li class="w-full md:w-1/3">
        <div class="m-2">
          {% set tool_locations_text = tool.locations|length ~ " location" %}
          {% if tool.locations|length != 1 %}
            {% set tool_locations_text = tool_locations_text ~ "s" %}
          {% endif %}

          {% set tool_upcoming_events = [] %}
          {% for event in tool.events %}
            {% if event.event_end >= "now"|date() %}
              {% set tool_upcoming_events = tool_upcoming_events|merge([event]) %}
            {% endif %}
          {% endfor %}
          {% set tool_events_text = tool_upcoming_events|length ~ " upcoming event" %}
          {% if tool_upcoming_events|length != 1%}
            {% set tool_events_text = tool_events_text ~ "s" %}
          {% endif %}
          {% if tool_upcoming_events|length == 0 %}
            {% set tool_events_text = "No upcoming events" %}
          {% endif %}

          {% include "partials/card.twig" with {
            title: tool.title,
            link: tool.link,
            primary_pictogram: ",",
            primary_text: tool_locations_text,
            secondary_pictogram: "{",
            secondary_text: tool_events_text,
            image_src: TimberImage(tool.get_field("image")).src("large")
          } only %}
        </div>
      </li>
    {% endfor %}
  </ul>
</nav>
