<section class="{{ section_classes }}">
	<div class="container py-5">
		{% if block("title") is not empty %}
			<h2 class="mb-3 font-bold text-3xl leading-tight text-orange">
				{% block title %}{% endblock %}
			</h2>
		{% endif %}

		{% if block("text") is not empty %}
			<div class="wysiwyg max-w-lg text-lg">
				{% block text %}{% endblock %}
			</div>
		{% endif %}

		{% if block("extra") is not empty %}
			<div class="{% if block("text") is not empty %} mt-5 {% endif %}">
				{% block extra %}{% endblock %}
			</div>
		{% endif %}
	</div>
</section>
