{% extends "page.twig" %}

{% block page_content %}

  {% if map_options %}
    <div class="map-container">
      <script>
      var locationsMapOptions = {
        map: {},
        data: {{ map_options.data|json_encode() }},
        render: {},
      };
      </script>
      <div id="locations-map" class="ws-map w-full h-screen" data-options="locationsMapOptions"></div>
    </div>
  {% endif %}

  {% embed "partials/section.twig" %}
		{% block title %}
      The Libraries
    {% endblock %}

    {% block text %}
      {{ post.get_field("locations_intro_text") }}
    {% endblock %}

    {% block extra %}
      <nav>
        <ul class="flex flex-wrap -m-2">
          {% for location in locations %}
            <li class="w-full md:w-1/2">
              <div class="m-2">
                {% set location_tools_text = location.tools|length ~ " tool" %}
                {% if location.tools|length != 1 %}
                  {% set location_tools_text = location_tools_text ~ "s" %}
                {% endif %}

                {% set location_upcoming_events = [] %}
                {% for event in location.events %}
                  {% if event.get_field("event_end")|date("d/m/Y") >= "now"|date("m/d/Y") %}
                    {% set location_upcoming_events = location_upcoming_events|merge([event]) %}
                  {% endif %}
                {% endfor %}
                {% set location_events_text = location_upcoming_events|length ~ " upcoming event" %}
                {% if location_upcoming_events|length != 1%}
                  {% set location_events_text = location_events_text ~ "s" %}
                {% endif %}
                {% if location_upcoming_events|length == 0 %}
                  {% set location_events_text = "No upcoming events" %}
                {% endif %}

                {% include "partials/card.twig" with {
                  title: location.title,
                  link: location.link,
                  primary_pictogram: "(",
                  primary_text: location_tools_text,
                  secondary_pictogram: "{",
                  secondary_text: location_events_text,
                  image_src: TimberImage(location.get_field("image")).src("large")
                } only %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endblock %}
  {% endembed %}

{% endblock %}
