{% extends "page.twig" %}

{% block page_content %}
  {% embed "partials/section.twig" %}
		{% block title %}
      Our Machines
    {% endblock %}

    {% block text %}
      {{ post.get_field("machines_introductory_text") }}
    {% endblock %}

    {% block extra %}
      {% include "partials/list-of-tools.twig" with { tools: machines } %}
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" %}
		{% block title %}
      Our Materials
    {% endblock %}

    {% block text %}
      {{ post.get_field("materials_introductory_text") }}
    {% endblock %}

    {% block extra %}
      {% include "partials/list-of-tools.twig" with { tools: materials } %}
    {% endblock %}
  {% endembed %}

  {% if map_options %}
    {% embed "partials/section.twig" with { section_classes: 'map-container' } %}
      {% block extra %}
        <script>
        var locationsMapOptions = {
          map: {},
          data: {{ map_options.data|json_encode() }},
          render: { center: { lat: 41.8240, lng: -71.4128 }, zoom: 14 },
        };
        </script>
        <div id="locations-map" class="ws-map w-screen h-screen" data-options="locationsMapOptions"></div>
      {% endblock %}
    {% endembed %}
  {% endif %}
{% endblock %}
