{% extends "single.twig" %}

{% block hero %}
  {% include "partials/single-hero.twig" with {
    label: post.terms("badge-types") | join(', ')
  } %}
{% endblock %}

{% block single_content %}
  {% embed "partials/section.twig" %}
    {% block extra %}
      <div class="flex flex-wrap">
        {# COLUMN ONE #}
        {% set badge = post.get_field("badge")[0] %}
        {% set badge_icon_src = TimberImage(badge.get_field("badge_icon")).src %}
        {% if badge_icon_src %}
          <div class="md:mr-6">
            {# TODO: test if this badge image is working #}
            <img
              class="block object-contain"
              src="{{ badge_icon_src }}"
              height="320"
              alt="">
          </div>
        {% endif %}

        {# COLUMN TWO #}
        <div class="mt-5 md:flex-1 md:mt-0">
          {% include "components/measure.twig" with {
            text: post.get_field("badge_description")
          } only %}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
