{% extends "single.twig" %}

{% block hero %}
  {% set event_date = post.event_start|date("F j, Y, g:ia") ~ " – " %}
  {% if post.event_start|date("F j, Y") == post.event_end|date("F j, Y") %}
    {% set event_date = event_date ~ post.event_end|date("g:ia") %}
  {% else %}
    {% set event_date = event_date ~ post.event_end|date("F j, Y, g:ia") %}
  {% endif %}

  {% include "partials/single-hero.twig" with {
    label: post.terms("event-types") | join(', '),
    title: post.get_field("event_name"),
    primary_pictogram: "{",
    primary_text: event_date,
    secondary_pictogram: ",",
    secondary_text: post.get_field("location")[0],
    secondary_link: post.get_field("location")[0].link
  } %}
{% endblock %}

{% block single_content %}
  {% if post.get_field("signup_link") %}
    {% embed "partials/section.twig" %}
      {% block extra %}
        <div class="">
          {% include "components/measure.twig" with {
            text: post.get_field("event_description")
          } only %}

          <div class="mt-5">
            <a
              class="Block Block--light"
              href="{{ post.get_field("signup_link") }}"
              target="_blank"
              rel="noopener">
              Sign up for this event at Eventbrite
            </a>
          </div>
        </div>
      {% endblock %}
    {% endembed %}
  {% endif %}

  {% if tools %}
    {% embed "partials/section.twig" %}
      {% block title %}
        Tools at This Event
      {% endblock %}

      {% block extra %}
        {% include "partials/list-of-tools.twig" %}
      {% endblock %}
    {% endembed %}
  {% endif %}

  {% if badges %}
    {% embed "partials/section.twig" %}
      {% block title %}
        Badges You Can Earn
      {% endblock %}

      {% block extra %}
        {% include "partials/list-of-badges-mini.twig" %}
      {% endblock %}
    {% endembed %}
  {% endif %}
{% endblock %}

{% block single_fullwidth_content %}
  {% if map_options and map_options.data %}
    <div class="map-container">
      <script>
      var locationMapOptions = {
        map: {
          zoomControl: false,
        },
        data: {{ map_options.data|json_encode() }},
        render: { center: {{ map_options.data.marker.position|json_encode() }}, zoom: 17 },
      };
      locationMapOptions.data.marker.popup.openOnInitialization = true;
      </script>
      <div id="location-map" class="ws-map w-full h-screen ws-map-static" data-options="locationMapOptions"></div>
    </div>
  {% endif %}
{% endblock %}
