{% extends "single.twig" %}

{% block hero %}
  {% set locations_text = post.get_field("locations")|length ~ " location" %}
  {% if post.get_field("locations")|length != 1 %}
    {% set locations_text = locations_text ~ "s" %}
  {% endif %}

  {% set events_text = post.get_field("events")|length ~ " event" %}
  {% if post.get_field("events")|length != 1 %}
    {% set events_text = events_text ~ "s" %}
  {% endif %}

  {% include "partials/single-hero.twig" with {
    label: post.terms("tool-types") | join(', '),
    primary_pictogram: ",",
    primary_text: locations_text,
    secondary_pictogram: "{",
    secondary_text: events_text
  } %}
{% endblock %}

{% block single_content %}
  {% embed "partials/section.twig" %}
    {% block extra %}
      <div class="flex flex-wrap">
        {# COLUMN ONE #}
        {% set badge = post.get_field("badge")[0] %}
        {% set badge_icon_src = TimberImage(badge.get_field("badge_icon")).src %}
        {% if badge_icon_src %}
          <div class="md:mr-6">
            {# TODO: test if this badge image is working #}
            <img
              class="block object-contain"
              src="{{ badge_icon_src }}"
              height="320"
              alt="">
          </div>
        {% endif %}

        {# COLUMN TWO #}
        <div class="mt-5 md:flex-1 md:mt-0">
          {% include "components/measure.twig" with {
            text: post.get_field("tool_description")
          } only %}
        </div>
      </div>
    {% endblock %}
  {% endembed %}

  {% if map_options %}
    {% embed "partials/section.twig" with { section_classes: 'map-container' } %}
      {% block extra %}
        <script>
        var locationsMapOptions = {
          map: {},
          data: {{ map_options.data|json_encode() }},
          render: {},
        };
        </script>
        <div id="locations-map" class="ws-map w-screen h-screen" data-options="locationsMapOptions"></div>
      {% endblock %}
    {% endembed %}
  {% endif %}
{% endblock %}
