/**
 * Block
 */

.Block {
  display: inline-block;
  box-decoration-break: clone;
  box-shadow: 0.25rem 0.25rem 0 var(--orange);
  margin: 0 1.25rem 1.25rem 0;
  padding: calc(1rem * 2 / 3) 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.Block:last-of-type {
  margin-right: 0;
}

a.Block {
  text-decoration: none;
}

.Block--dark {
  background-color: var(--teal);
  color: var(--white);
}

.Block--light {
  background-color: var(--light-orange);
  color: var(--teal);
}

/**
 * HeroBlock
 * Wrap around a Block to make it BIG!
 */

.HeroBlock .Block {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .HeroBlock {
    margin: 0 2rem 0.75rem 0;
  }

  .HeroBlock .Block {
    display: inline;
    box-shadow: 0.5rem 0.5rem 0 var(--orange);
    margin: 0;
    font-size: 3rem;
  }
}
