.Card {
  border: 0.125rem solid var(--teal);
  background-color: var(--light-blue);
}

.Card-title {
  padding: 0.5rem 1rem;
  background-color: var(--teal);
  color: var(--white);
  font-weight: 700;
  font-size: 1.25rem;
}

.Card-link {
  color: inherit;
}

.Card-text {
  padding: 0.5rem 1rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;

  &:not(:last-child) {
    border-bottom: 0.125rem solid var(--teal);
  }
}

.Card-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 320px;
}
