.Nav {
  position: absolute;
  top: 1rem;
  color: var(--white);
  font-size: 1.25rem;
}

.Nav .Block {
  padding: 0;
}

.Nav-toggle:checked ~ .Nav-toggleLabel .Nav-toggleLabelIcon--collapsed {
  display: none;
}

.Nav-toggle:not(:checked) ~ .Nav-toggleLabel .Nav-toggleLabelIcon--uncollapsed {
  display: none;
}

.Nav-toggle:checked ~ .Nav-list {
  display: block;
}

.Nav-toggleLabel {
  display: block;
  float: left;
}

.Nav-toggleLabelIcon {
  display: block;
  width: 4rem;
  height: 4rem;
  user-select: none;
  cursor: pointer;
}

.Nav-toggleLabelIcon::after {
  display: block;
  margin: 0 0.625rem;
  line-height: 1;
  font-family: var(--pictogram-font);
}

.Nav-toggleLabelIcon--collapsed::after {
  content: "Í";
  font-size: 3.625rem;
}

.Nav-toggleLabelIcon--uncollapsed::after {
  content: "ﬂ";
  padding-left: 0.1875rem;
  font-size: 4rem;
}

.Nav-logoLink {
  display: block;
  float: left;
}

.Nav-logo {
  display: block;
  width: 16rem;
  height: 4rem;
}

.Nav-list {
  display: none;
  clear: both;
  width: 384px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Nav-sublistToggle:checked
  ~ .Nav-sublistToggleLabel
  .Nav-sublistToggleLabelIcon--collapsed {
  display: none;
}

.Nav-sublistToggle:not(:checked)
  ~ .Nav-sublistToggleLabel
  .Nav-sublistToggleLabelIcon--uncollapsed {
  display: none;
}

.Nav-sublistToggle:checked ~ .Nav-sublist {
  display: block;
}

.Nav-sublistToggleLabel {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--teal);
  border-width: 0 1px 1px 0;
  padding: 0.75rem 1rem;
  user-select: none;
  cursor: pointer;
}

.Nav-sublistToggleLabel:hover {
  background-color: var(--orange);
}

.Nav-sublistToggleLabelIcon {
  display: inline-block;
  width: 1.5rem;
  margin-right: 0.5rem;
  transform: translateY(0.125rem);
}

.Nav-sublistToggleLabelIcon::before {
  margin-right: 0.5rem;
  font-size: 2rem;
  line-height: 1;
  font-family: var(--pictogram-font);
}

.Nav-sublistToggleLabelIcon--collapsed::before {
  content: "ﬁ";
}

.Nav-sublistToggleLabelIcon--uncollapsed::before {
  content: "€";
}

.Nav-sublistToggleLabelText {
  display: inline-block;
}

.Nav-sublist {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Nav-sublist .Nav-link {
  padding-left: 3rem;
  background-color: var(--light-teal);
  font-weight: 500;
}

.Nav-link {
  display: block;
  border: 1px solid var(--teal);
  border-width: 0 1px 1px 0;
  padding: 0.75rem 1rem;
  color: var(--white);
  text-decoration: none;
}

.Nav-link:hover {
  background-color: var(--orange);
}
