/**
 * Block
 */

.Block {
  @apply .shadow-orange;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-decoration-break: clone;
  margin: 0 0.25rem 0.25rem 0;
  padding: 0.5rem 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

.Block--dark {
  @apply .bg-teal-darkest .text-white;
}

.Block--light {
  background-color: var(--light-orange);
  color: var(--teal);
}

.Block--inverted {
  @apply .shadow-teal .bg-teal-lightest .text-teal-darkest;
}

/**
 * HeroBlock
 * Wrap around a Block to make it BIG!
 */

.HeroBlock {
  @media (min-width: 768px) {
    margin: 0.025rem 2rem calc(1rem / 3) 0;
  }
}

.HeroBlock .Block {
  font-size: 1.5rem;

  @media (min-width: 768px) {
    display: inline;
    margin: 0;
    font-size: 3rem;
  }
}
