.HomePage {
}

.HomePage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: var(--light-blue);
}

.HomePage-headerContent {
  max-width: 960px;
  padding: 6rem 1rem 1rem;
}

.HomePage-tagline {
  @media (min-width: 768px) {
    margin-bottom: 3rem;
  }
}

.HomePage-listOfLinks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.HomePage-listOfLinksItem {
  display: inline-block;
  margin-right: 1rem;
}

.HomePage-listOfLinksItem:last-of-type {
  margin-right: 0;
}

/**
 * News stories
 */

.HomePage-news {
  padding: 3rem 1rem 2rem;
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
}

.HomePage-newsItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 1rem;
  text-align: left;

  @media (min-width: 768px) {
    max-width: 1152px;
  }
}

.HomePage-newsItem {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
  border: 0.25rem solid currentColor;
  padding: 1rem;

  @media (min-width: 768px) {
    width: calc(50% - 1rem);

    &:nth-of-type(even) {
      margin-left: 1rem;
    }
  }
}

.HomePage-newsItemTitle {
  order: 2;
  margin: 0 0 1rem;
  font-size: 1.5rem;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.HomePage-newsItemMetadata {
  order: 1;
  margin-bottom: 1rem;
}

.HomePage-newsItemMore {
  order: 3;
}

.HomePage-newsItemMoreLink {
  color: currentColor;
}
