.HomePage {
}

.HomePage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: var(--light-blue);
}

.HomePage-headerContent {
  max-width: 48rem;
  padding: 6rem 1rem 1rem;
}

.HomePage-tagline {
}

.HomePage-listOfLinks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.HomePage-listOfLinksItem {
  display: inline-block;
  margin-right: 1rem;
}

.HomePage-listOfLinksItem:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {
  .HomePage-tagline {
    margin-bottom: 3rem;
  }
}
